@media (max-width: 400px) {
	#black-bar {
		font-size: 14px;
	}
}

@media (max-width: 350px) {
	#black-bar {
		font-size: 13px;
	}
}

@media (max-width: 540px) {
	#datetime {
		display: none;
	}
}

@media (max-width: 1050px) {
	#menu {
		display: none;
	}
	#logo {
		left: 60px;
	}
	#city {
		left: 200px;
	}
	#flex-top {
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-around;
	}
	#column-center {
		max-width: 420px;
		min-width: 320px;
		margin: 0;
	}
	#column-right {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		width: 588px;
		margin-top: 20px;
		-ms-flex-pack: distribute;
		    justify-content: space-around;
	}
	#column-right img:first-of-type {
		margin-right: 20px;
	}
}

@media (max-width: 559px) {
	#column-right {
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		width: auto;	
	}
	#column-right img:first-of-type {
		margin-right: 0px;
	}
}

@media (max-width: 860px){
	#column-left {
		max-width: 320px;
	}
}

@media (min-width: 1051px) {
	.icon-menu {
		display: none;
	}
}

@media (max-width: 949px) {
	#weather {
		float: right;
		margin: 50px 20px 0 20px;
	}
}

@media (min-width: 950px) {
	#weather {
		position: absolute;
		top: 50px;
		left: 490px;
	}
}

@media (max-width: 894px) {
	#clock {
		float: right;
		margin-top: 53px;
	}
}

@media (min-width: 895px) {
	#clock {
		position: absolute;
		top: 53px;
		left: 350px;
	}
}

@media (min-width: 831px) {
	#small-logo, #aside {
		display: none;
	}
}

@media (max-width: 830px) {
	#clock, #weather, #city, #logo {
		display: none;
	}
	.icon-menu {
		top: 13px;
	}
	.search {
		margin-top: 5px;
		padding: 10px 20px;
	}
	header {
		height: 50px;
	}
	#flex-top {
		-webkit-box-align: start;
		    -ms-flex-align: start;
		        align-items: flex-start;
	}
}

@media (min-width: 616px) {
	#search-new {
		display: none;
	}
}

@media (max-width: 615px) {
	.search {
		display: none;
	}
}
@media (max-width: 796px) {
	#column-center {
		-webkit-box-ordinal-group: 0;
		    -ms-flex-order: -1;
		        order: -1;
	}
	#column-left {
		max-width: 420px;
	}
}

@media (max-width: 477px) {	
	h3 {
		font-size: 24px;
	}
}
@media (max-width: 380px) {	
	h3 {
		font-size: 21px;
	}
}
@media (max-width: 477px) {
	#castle {
		width: 280px;
	}

	#castle h3 {
		width: 280px;
	}
}

@media (orientation:portrait) {
	#small-menu {
		padding-right: 20px;
	}
}

@media (max-width: 380px) {
	#flex-bottom, #flex-top {
		padding: 0;
	}
	#special-news-left-content {
		display: none;
	}
	#special-news-left {
		background-size: auto 310px;
		height: 310px;
	}
}
@media (max-width: 477px) {
	#navalniy, #pasport, #youtube, #kein {
		float: none;
		width: 320px;
		background-size: 320px;
		padding-top: 205px;		
		margin-top: 20px;
	}
	.news-center-text {
		height: 50px;
		line-height: 1.5;
	}
	.center-item-props, .news-center-text {
		margin: 0 25px;
	}
}
@media (max-width: 477px) {
	#column3 ul {
		-webkit-column-count: 2;
		column-count: 2;
	}
	#column3 {
		width: 100%;
		margin-top: 15px;
		padding-top: 15px;
		border-bottom:1px solid #26354e;
	}
	#footer-bottom {
		text-align: left;
	}
}
@media (max-width: 699px) {
	#column4-1 {
		width: 100%;
		border-bottom:1px solid #26354e;
		margin-top: 20px;
	}
	#footer {
		border-bottom: none;
	}
}
@media (max-width: 428px) {
	#post-news {
		line-height: normal;
	}
}
@media (min-width: 992px) {
	#flex-bottom {
		-ms-flex-wrap: 	nowrap;
		    flex-wrap: 	nowrap;
	}
}
